@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.wrapper {
  @apply px-[32px]
}
/* 
html {
  height: 100%;
} */
#home, #contacts, #error, #notFound, #signup {
  background-image: url('/images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  min-height: 100vh;
  padding-top: 74px;
}

.default-title {
  @apply ml-[21px] mb-[15px] text-_FFFFFF text-2xl font-bold
}

@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="checkbox"]:enabled:checked {
  background-color: #d88304 !important;
  color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
